@model List<PruebaWeb.Models.EmpleadoModel>

@{
}

<div class="container">

    <div class="row">

        <table class="table">
            <thead>
                <th>
                    Nombre
                </th>
                <th>
                    Codigo
                </th>

                <th>
                    Puesto
                </th>
                <th>
                    Sueldo
                </th>
                <th>
                    Grupo
                </th>
                <th>
                    Opciones
                </th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Nombre </td>
                        <td> @item.Codigo </td>
                        <td> @item.Puesto </td>
                        <td> @item.Sueldo </td>
                        <td> @item.IdGrupo </td>
                        <td>
                            <a href="~/Editar/@item.Id" class="btn btn-primary">Editar</a>
                            <a href="~/Eliminar/@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>
        <div class="form-group text-right>
            <a href="~/Crear/" class="btn btn-primary"></a>
        </div>

    </div>
</div>